.container{
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 2s;
    width: 300vw;
    min-height: 500px ;
    background-color: #111111;
}

@media (max-width: 768px) {
    .container{
        opacity: 90%;
    }
}

