body, h1, h2, a{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body{
    padding: 5px;
    background-color: rgb(80 76 76 / 80%);
}

.grid-container{
    font-family: 'Poppins';
    padding-top: 20px;
    display: grid;
    width: 80%;
    grid-template-columns: calc(24% - 10px) calc(24% - 10px);
    grid-template-rows: calc(50% - 15px) calc(25% - 7px) calc(25% - 8px);
    gap: 20px;
    height: calc((86vh - 20px) * 2);
    transition: 0.7s;
    & h1{
        background-image: linear-gradient(to bottom right, red , rebeccapurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & h2{
        background-image: linear-gradient(to bottom right, #dcc2c2, rgb(203, 116, 116));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.grid-item{

    width: 100%;
    /*background-color: rgba(37, 33, 33, 0.6);*/
    height: 100%;
    & h2{
        overflow: hidden;
    }
}
.about-section{
    width:90%;
    display: flex;

}

hr {
    width: 90%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.78), rgba(102, 51, 153, 0.8));
    height: 1px;
    border: none;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.left-item{
    opacity: 0;
    animation: 1s ease-out 1s 1 LoadContent forwards;
    color: #d7cbd4;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    & .about-section{
        height: auto;
    }
    & .list-container{
        height: 65%;
        background-color: white;
    }
    & h1 {
        max-width: 500px;
        width: auto;
        font-size: 2.5rem;
        padding: 20px 20px 10px 20px;
    }
    & h2{
        font-size: 1.3rem;
        padding: 0 45px 45px 45px ;
        color: white;
        float: left;
    }
}
.right-top-item1{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    & h1{
        font-size: 2.5rem;
        padding: 10px 10px 0 20px;
    }
    font-size: 1.3rem;
    color: white;
}
.right-top-item2{
    & h1{
        font-size: 2.5rem;
        padding: 10px 10px 0 20px;
    }
    font-size: 1.3rem;
    color: white;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.right-bottom-item{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.grid-button{
    font-family: 'Poppins-Bold';
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.78), rgba(102, 51, 153, 0.8));
    color: white;
    width: 80%;
    :hover{
        transform: scale(1.1);
    }
}
@media (min-width: 1700px){
    .grid-container{
        height: calc(86vh - 20px);
        width: 80%;
        grid-template-columns: calc(24% - 10px) calc(24% - 10px);
        grid-template-rows: calc(50% - 15px) calc(50% - 15px);
    }
    .right-top-item1{
        font-size: 1.5rem;
    }
    .right-top-item2{
        font-size: 1.5rem;
    }

    .right-bottom-item{
        visibility: hidden;
    }
    .left-item{
        .about-section{
            height: auto;
        }
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        & h2{
            font-size: 1.4rem;
        }
        & button {
            bottom: 15px;
            position: absolute;
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 768px) {
    .grid-container{
        height: auto;
        transition: 0.7s;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .left-item{
        & h1{
            padding: 10px;
            margin: 0;
        }
        & h2{
            padding: 0 20px 20px 20px;

        }
    }
    .grid-item{
        width: 100%;
        height: auto;
    }
    .button-container{
        padding-bottom: 20px;
    }
    hr{
        width: 90%;

    }
}

@keyframes LoadContent {
    0%{
        animation-delay: 1s;
        transform: translateX(+500px);
    }
    100%{
        transform: translateX(0);
        opacity: 100%;
    }

}