body, h1, h2, a{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-container{
    visibility: hidden;
    font-family: 'Poppins';
    animation: 1.3s ease-out 0.5s 1 Load forwards;
    height: calc(14vh - 20px);
    margin-top: 10px;
    color: #d7cbd4;
    /*background-color: rgba(37, 33, 33, 0.6);*/
    border-radius: 3px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 90%;
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: row;
    transition: 0.7s;
    & h1, & a{
        background-image: linear-gradient(to bottom right, red , rebeccapurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.header-photo{
    width: 10%;
    height: 100%;
}
.header-name{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        padding: 5px 5px 0 5px;
        font-size: 2.7rem;
    }
    & h2{
        font-size: 2vh;
        padding-bottom: 5px;;
    }
}

.header-socials-links{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-clip: content-box;
}

.social-link{
    z-index: 1;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: 3px;
    min-width: 60px;
    width: 15%;
    max-width: 70px;
    transition: 0.3s;
    & img{
        width: 100%;
    }
    :hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    ::before{
        content: "";
        position: absolute;
        height: 80%;
        width: 100%;
        z-index: -1;
        border-radius: 13px;
        background-image: linear-gradient(to bottom right, red , rebeccapurple);
    }
}

@media(max-width: 768px){
    .header-container{
        transition: 0.7s;
        max-height: 30%;
    }
    .header-photo{
        visibility: hidden;
        width: 0;
    }
    .header-name{
        width: 80%;
        & h1{
            font-size: 2em;
        }
        & h2{
            font-size: 0.8em;
        }
    }
    .header-socials-links{
        width: 20%;
    }
    .social-link{
        width: 25%;
    }
}

@keyframes Load{
    0%{
        opacity: 0;
        width: 50%;
        animation-delay: 1s;
    }
    100%{
        width: 90%;
        visibility: visible;
    }
}
