body, h1, h2, a{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-container{
    opacity: 0;
    font-family: 'Poppins';
    animation: 1.3s ease-out 0.5s 1 Load forwards;
    height: calc(18vh - 20px);
    margin-top: 30px;
    color: #d7cbd4;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    transition: 0.7s;
    & h1, & a{
        background-image: linear-gradient(to bottom right, red , rebeccapurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.header-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 10px;
    & img{
        width: 150px;
        overflow: hidden;
    }
}
.header-name{
    margin: 70px;
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        padding: 5px 5px 0 5px;
        font-size: 2.7rem;
    }
    & h2{
        font-size: 2vh;
        padding-bottom: 5px;;
    }
}

@media(max-width: 768px){
    .header-container{
        margin-top: 10px;
        padding: 0;
        transition: 0.7s;
        width: 100%;
        height: 20vh;
    }

    .header-photo{
        width: 110px;
        height: 90%;
        overflow: hidden;
    }
    .header-name{
        padding: 10px;
        margin: 0;
        width: 60%;
        & h1{
            font-size: 2em;
            padding-left:0;
        }
        & h2{
            font-size: 0.8em;
        }
    }
}

@keyframes Load{
    0%{
        animation-delay: 1s;
        transform: translateX(+300px);
    }
    100%{
        transform: translateX(0);
        opacity: 100%;
    }
}
